In [2]:
import pandas as pd

# stock

In [48]:
CSI300 = pd.read_csv('data/CSI300.csv')
CSI300

           Date     Price      Open      High       Low     Vol. Change %
0    12/31/2019  4,096.58  4,077.75  4,098.14  4,069.01  123.26K    0.37%
1    12/30/2019  4,081.63  4,015.52  4,083.69  4,001.50  155.97K    1.48%
2    12/27/2019  4,022.03  4,029.25  4,066.80  4,019.72  150.93K   -0.10%
3    12/26/2019  4,025.99  3,993.67  4,025.99  3,993.54  108.86K    0.88%
4    12/25/2019  3,990.87  3,988.66  4,000.56  3,976.36   94.94K   -0.05%
..          ...       ...       ...       ...       ...      ...      ...
482  01/08/2018  4,160.16  4,140.85  4,166.32  4,127.31  173.88K    0.52%
483  01/05/2018  4,138.75  4,133.34  4,151.28  4,123.28  149.01K    0.24%
484  01/04/2018  4,128.81  4,114.12  4,137.64  4,105.89  134.54K    0.42%
485  01/03/2018  4,111.39  4,091.46  4,140.05  4,088.73  151.85K    0.59%
486  01/02/2018  4,087.40  4,045.21  4,087.78  4,045.21  146.94K    1.40%

[487 rows x 7 columns]

In [ ]:
# Convert date
CSI300['Date'] = pd.to_datetime(CSI300['Date'], format='%m/%d/%Y')

# Clean % change (remove % and convert to float)
CSI300['ChangePct'] = CSI300['Change %'].str.replace('%', '').astype(float) / 100

CSI300 = CSI300.drop(columns = ["Open", "High", "Low", "Change %", "Vol."])

In [ ]:
CSI300.to_csv("data_cleaned/CSI300.csv")

In [52]:
SP500 = pd.read_csv('data/S&P500.csv')
SP500

           Date     Price      Open      High       Low  Vol. Change %
0    12/31/2019  3,230.80  3,215.20  3,231.70  3,212.00   NaN    0.29%
1    12/30/2019  3,221.30  3,240.10  3,240.90  3,216.60   NaN   -0.58%
2    12/27/2019  3,240.00  3,247.20  3,247.90  3,234.40   NaN    0.00%
3    12/26/2019  3,239.90  3,227.20  3,240.10  3,227.20   NaN    0.51%
4    12/24/2019  3,223.40  3,225.40  3,226.40  3,220.50   NaN   -0.02%
..          ...       ...       ...       ...       ...   ...      ...
498  01/08/2018  2,747.70  2,742.70  2,748.50  2,737.60   NaN    0.16%
499  01/05/2018  2,743.20  2,731.30  2,743.40  2,727.90   NaN    0.70%
500  01/04/2018  2,724.00  2,719.30  2,729.30  2,719.10   NaN    0.40%
501  01/03/2018  2,713.10  2,697.80  2,714.40  2,697.80   NaN    0.64%
502  01/02/2018  2,695.80  2,683.70  2,695.90  2,682.40   NaN    0.83%

[503 rows x 7 columns]

In [53]:
# Convert date
SP500['Date'] = pd.to_datetime(SP500['Date'], format='%m/%d/%Y')

# Clean % change (remove % and convert to float)
SP500['ChangePct'] = SP500['Change %'].str.replace('%', '').astype(float) / 100

SP500 = SP500.drop(columns = ["Open", "High", "Low", "Change %", "Vol."])
SP500

          Date     Price  ChangePct
0   2019-12-31  3,230.80     0.0029
1   2019-12-30  3,221.30    -0.0058
2   2019-12-27  3,240.00     0.0000
3   2019-12-26  3,239.90     0.0051
4   2019-12-24  3,223.40    -0.0002
..         ...       ...        ...
498 2018-01-08  2,747.70     0.0016
499 2018-01-05  2,743.20     0.0070
500 2018-01-04  2,724.00     0.0040
501 2018-01-03  2,713.10     0.0064
502 2018-01-02  2,695.80     0.0083

[503 rows x 3 columns]

In [ ]:
SP500.to_csv("data_cleaned/SP500.csv")

# US news

In [78]:
cnbc_df = pd.read_csv('data/cnbc_2018_2019.csv')
cnbc_df

,Headlines,Time,Description
0,Cramer shares the best way to get your child e...,"6:51 PM ET Tue, 31 Dec 2019",Jim Cramer spells out the importance of gettin...
1,Cramer makes the case for including bonds in y...,"6:28 PM ET Tue, 31 Dec 2019",Jim Cramer addresses the lingering question of...
2,Cramer explains the magic of compounding,"6:28 PM ET Tue, 31 Dec 2019",Jim Cramer explains why young investors stand ...
3,"Cramer Remix: Here's where your first $10,000 ...","7:01 PM ET Tue, 31 Dec 2019",Jim Cramer shares his advice for how investors...
4,Cramer Remix: Here's how to approach Fed-induc...,"7:11 PM ET Mon, 30 Dec 2019",Jim Cramer breaks down which stocks are worth ...
...,...,...,...
2439,Cramer shares his top energy stock picks as oi...,"7:22 PM ET Tue, 2 Jan 2018",Jim Cramer revisited the oil sector and hand-p...
2440,Cramer's lightning round: Buy Becton Dickinson...,"7:07 PM ET Tue, 2 Jan 2018",Jim Cramer rattled off his take on callers' fa...
2441,Cramer's S&P 500 and Dow charts indicate a str...,"7:21 PM ET Tue, 2 Jan 2018",Jim Cramer warned investors about getting too ...
2442,Cramer reflects on how Trump's actions are fue...,"7:20 PM ET Tue, 2 Jan 2018",Jim Cramer examined the notion that investors ...
2443,The major indexes trade lower in January,"1:19 PM ET Tue, 2 Jan 2018",Our data partners at Kensho say beware of Janu...

In [79]:
# Convert the Time column to datetime
cnbc_df['Time'] = cnbc_df['Time'].str.strip().str.replace(r'\s+', ' ', regex=True)

cnbc_df['Time'] = pd.to_datetime(cnbc_df['Time'], format='%I:%M %p ET %a, %d %b %Y')
cnbc_df['Date'] = cnbc_df['Time'].dt.date

cnbc_df

,Headlines,Time,Description,Date
0,Cramer shares the best way to get your child e...,2019-12-31 18:51:00,Jim Cramer spells out the importance of gettin...,2019-12-31
1,Cramer makes the case for including bonds in y...,2019-12-31 18:28:00,Jim Cramer addresses the lingering question of...,2019-12-31
2,Cramer explains the magic of compounding,2019-12-31 18:28:00,Jim Cramer explains why young investors stand ...,2019-12-31
3,"Cramer Remix: Here's where your first $10,000 ...",2019-12-31 19:01:00,Jim Cramer shares his advice for how investors...,2019-12-31
4,Cramer Remix: Here's how to approach Fed-induc...,2019-12-30 19:11:00,Jim Cramer breaks down which stocks are worth ...,2019-12-30
...,...,...,...,...
2439,Cramer shares his top energy stock picks as oi...,2018-01-02 19:22:00,Jim Cramer revisited the oil sector and hand-p...,2018-01-02
2440,Cramer's lightning round: Buy Becton Dickinson...,2018-01-02 19:07:00,Jim Cramer rattled off his take on callers' fa...,2018-01-02
2441,Cramer's S&P 500 and Dow charts indicate a str...,2018-01-02 19:21:00,Jim Cramer warned investors about getting too ...,2018-01-02
2442,Cramer reflects on how Trump's actions are fue...,2018-01-02 19:20:00,Jim Cramer examined the notion that investors ...,2018-01-02
2443,The major indexes trade lower in January,2018-01-02 13:19:00,Our data partners at Kensho say beware of Janu...,2018-01-02

In [80]:
cnbc_df = cnbc_df.drop(columns=["Time", "Description"])
cnbc_df

                                              Headlines        Date
0     Cramer shares the best way to get your child e...  2019-12-31
1     Cramer makes the case for including bonds in y...  2019-12-31
2              Cramer explains the magic of compounding  2019-12-31
3     Cramer Remix: Here's where your first $10,000 ...  2019-12-31
4     Cramer Remix: Here's how to approach Fed-induc...  2019-12-30
...                                                 ...         ...
2439  Cramer shares his top energy stock picks as oi...  2018-01-02
2440  Cramer's lightning round: Buy Becton Dickinson...  2018-01-02
2441  Cramer's S&P 500 and Dow charts indicate a str...  2018-01-02
2442  Cramer reflects on how Trump's actions are fue...  2018-01-02
2443           The major indexes trade lower in January  2018-01-02

[2444 rows x 2 columns]

In [81]:
cnbc_df.to_csv("data_cleaned/cnbc.csv")

In [82]:
benzinga_df = pd.read_csv("data/benzinga_2018_2019.csv")
benzinga_df

,Num,title,date,stock
0,702025,Shanxi Securities Signs Agreement With Company...,2018-01-01 08:24:00-05:00,JD
1,847963,Macau's Gaming Inspection and Coordination Bur...,2018-01-01 08:30:00-05:00,MPEL
2,847962,UPDATE: Macau December 2017 Gaming Revenue +14...,2018-01-01 08:32:00-05:00,MPEL
3,466197,North Korean Leader Kim Jong Un Mentions Possi...,2018-01-01 09:59:00-05:00,EWY
4,134879,"Benzinga's Bulls & Bears: Apple, GE, Starbucks...",2018-01-01 16:11:00-05:00,BAC
...,...,...,...,...
222108,897482,10 Best Performing S&P 500 Stocks Of The Decade,2019-12-31 15:01:00-05:00,NFLX
222109,215200,Cardtronics Option Alert: Jun 19 $50 Calls at ...,2019-12-31 15:17:00-05:00,CATM
222110,585648,"Drugmakers Including Pfizer, GlaxoSmithKline, ...",2019-12-31 15:56:00-05:00,GSK
222111,1000470,"Drugmakers Including Pfizer, GlaxoSmithKline, ...",2019-12-31 15:56:00-05:00,PFE
222112,1000469,Pfizer Says To Increase List Prices On Around ...,2019-12-31 15:57:00-05:00,PFE

In [83]:
benzinga_df = benzinga_df.drop(columns=["Num", "stock"])
benzinga_df['date'] = pd.to_datetime(benzinga_df['date'], utc=True)
benzinga_df.to_csv("data_cleaned/benzinga.csv")

In [84]:
guardian_df = pd.read_csv("data/guardian_2018_2019.csv")
guardian_df

             Time                                          Headlines
0      2019-12-31  Donald Trump says he will sign first phase of ...
1      2019-12-31  Bank's summer party bill edges higher despite ...
2      2019-12-31  Ghosn 'hid in musical instrument case' during ...
3      2019-12-31  Universal Music sells €3bn stake to Chinese co...
4      2019-12-31  UK minimum wage to rise by four times rate of ...
...           ...                                                ...
13475  2018-01-02  Members’ club backed by Lord Ashcroft seeks to...
13476  2018-01-02                 The Guardian's share tips for 2018
13477  2018-01-02  Tributes paid after five Britons killed in sea...
13478  2018-01-02  Vehicles are now America's biggest CO2 source ...
13479  2018-01-02  Ripple: cryptocurrency enjoys end-of-year surg...

[13480 rows x 2 columns]

In [85]:
guardian_df['date'] = pd.to_datetime(guardian_df['Time']).dt.date
guardian_df = guardian_df.drop(columns=["Time"])
guardian_df

                                               Headlines        date
0      Donald Trump says he will sign first phase of ...  2019-12-31
1      Bank's summer party bill edges higher despite ...  2019-12-31
2      Ghosn 'hid in musical instrument case' during ...  2019-12-31
3      Universal Music sells €3bn stake to Chinese co...  2019-12-31
4      UK minimum wage to rise by four times rate of ...  2019-12-31
...                                                  ...         ...
13475  Members’ club backed by Lord Ashcroft seeks to...  2018-01-02
13476                 The Guardian's share tips for 2018  2018-01-02
13477  Tributes paid after five Britons killed in sea...  2018-01-02
13478  Vehicles are now America's biggest CO2 source ...  2018-01-02
13479  Ripple: cryptocurrency enjoys end-of-year surg...  2018-01-02

[13480 rows x 2 columns]

In [86]:
guardian_df.to_csv("data_cleaned/guardian.csv")

In [87]:
reuter_df = pd.read_csv("data/reuters_2018_2019.csv")
reuter_df

,Headlines,Time,Description
0,TikTok considers London and other locations fo...,Jul 18 2020,TikTok has been in discussions with the UK gov...
1,Disney cuts ad spending on Facebook amid growi...,Jul 18 2020,Walt Disney has become the latest company to ...
2,Trail of missing Wirecard executive leads to B...,Jul 18 2020,Former Wirecard chief operating officer Jan M...
3,Twitter says attackers downloaded data from up...,Jul 18 2020,Twitter Inc said on Saturday that hackers were...
4,U.S. Republicans seek liability protections as...,Jul 17 2020,A battle in the U.S. Congress over a new coron...
...,...,...,...
32765,Malaysia says never hired British data firm at...,Mar 20 2018,The Malaysian government and the ruling party ...
32766,Prosecutors search Volkswagen headquarters in ...,Mar 20 2018,German prosecutors said on Tuesday they had se...
32767,McDonald's sets greenhouse gas reduction targets,Mar 20 2018,McDonald's Corp on Tuesday announced an approv...
32768,Pratt & Whitney to deliver spare A320neo engin...,Mar 20 2018,Pratt & Whitney will soon begin deliveries of ...
32769,UK will always consider ways to improve data l...,Mar 20 2018,Britain will consider any suggestions to give ...

In [88]:
reuter_df['date'] = pd.to_datetime(reuter_df['Time'], format='%b %d %Y').dt.date
reuter_df = reuter_df.drop(columns=["Time", "Description"])
reuter_df

                                               Headlines        date
0      TikTok considers London and other locations fo...  2020-07-18
1      Disney cuts ad spending on Facebook amid growi...  2020-07-18
2      Trail of missing Wirecard executive leads to B...  2020-07-18
3      Twitter says attackers downloaded data from up...  2020-07-18
4      U.S. Republicans seek liability protections as...  2020-07-17
...                                                  ...         ...
32765  Malaysia says never hired British data firm at...  2018-03-20
32766  Prosecutors search Volkswagen headquarters in ...  2018-03-20
32767   McDonald's sets greenhouse gas reduction targets  2018-03-20
32768  Pratt & Whitney to deliver spare A320neo engin...  2018-03-20
32769  UK will always consider ways to improve data l...  2018-03-20

[32770 rows x 2 columns]

In [89]:
reuter_df.to_csv("data_cleaned/reuter.csv")

In [90]:
merged_df = pd.concat([cnbc_df, benzinga_df, guardian_df, reuter_df], ignore_index=True)
merged_df = merged_df.sort_values(by='date')
merged_df = merged_df.reset_index(drop=True)
merged_df.to_csv("data_cleaned/us_news.csv")

/var/folders/t5/m480qyfn2vnbgmm98d9vyd2m0000gn/T/ipykernel_323/1665944440.py:2: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  merged_df = merged_df.sort_values(by='date')

# CN news

In [68]:
sina = pd.read_csv("data/新浪财经2018-2019.csv")
sina = sina.drop(columns = ["微博id", "头条文章url", "原始图片url", "微博视频url", "发布位置", "发布工具", "点赞数", "转发数", "评论数"])
sina = sina.rename(columns={'微博正文': 'weibo', '发布时间': 'time'})
sina['time'] = pd.to_datetime(sina['time']).dt.date
sina

                                                  weibo        time
0     【回望银行业2019丨聚光灯下的比拼：理财子公司元年大幕开启】2019年“自带流量”的理财子...  2019-12-31
1     【罗振宇：以前我们同情北大杀猪学生 现在人家年入过亿】罗振宇2019-2020#时间的朋友#...  2019-12-31
2     #回力童鞋含有致儿童性早熟成分#【一批次回力童鞋不合格 含有可致“儿童性早熟”成分】近日，国...  2019-12-31
3     【#全球前500富豪今年共挣1.2万亿美元#】彭博社报道称，全球最富有的500人在2019年...  2019-12-31
4     【#今年全球数码相机出货量或锐减两成# 仅有10年前八分之一】12月30日，据金融界报道，日...  2019-12-31
...                                                 ...         ...
1239  【美国公务员排长队领免费食物度日 特朗普和国会议员却被曝正常领薪】1月16日，美国华盛顿的联...  2019-01-19
1240  【华林公司涉传销被查，电疗法曾陷电死人纠纷】在保健市场上，权健“火疗”与华林“电疗”的知名度...  2019-01-19
1241  【真香！偶遇盖茨街头排队买汉堡】1月13日，盖茨街头排队买汉堡被偶遇。汉堡一直是盖茨的最爱，...  2019-01-19
1242  【无限极内部推销话术：拉家常，讲故事，反复强调产品好】近日，无限极产品被曝疑致三岁女童心肌损...  2019-01-19
1243  【单身女子被诉离婚最新进展：民政局致歉并启动撤销程序】广西南宁的梁女士日前收到一张法院传票，...  2019-01-19

[1244 rows x 2 columns]

In [69]:
tonghuashun = pd.read_csv("data/同花顺2018-2019.csv")
tonghuashun = tonghuashun.drop(columns = ["微博id", "头条文章url", "原始图片url", "微博视频url", "发布位置", "发布工具", "点赞数", "转发数", "评论数"])
tonghuashun = tonghuashun.rename(columns={'微博正文': 'weibo', '发布时间': 'time'})
tonghuashun['time'] = pd.to_datetime(tonghuashun['time']).dt.date
tonghuashun

                                                  weibo        time
0     跨年夜送福利了，2020年投资日历来了，祝各位投资者在2020年投资顺利，心想事成  [组图...  2019-12-31
1       2019年你的战绩如何？#一张照片告别2019#  (来自@同花顺)  [组图共2张] 原图   2019-12-31
2                    电子行业周报：DRAM涨价先于预期，大基金完成入股精测电子  原图   2019-12-31
3                               辛苦一年的你 快来领取股民考试成绩单  原图   2019-12-31
4                                   2019年最后一张龙虎榜复盘  原图   2019-12-31
...                                                 ...         ...
1162  【蔚来汽车：所谓“销量作假”及“大幅裁员”纯属捏造】3月22日上午消息，针对大幅裁员以及员工...  2019-03-22
1163  【午评：创业板指跌近2% 工业大麻板块再度逆势走强】三大股指早盘持续下挫，创业板指跌逾2%，...  2019-03-22
1164  【科创板IPO企业名单将今日预披露】       3月18日，上交所上线了科创板股票发行上市...  2019-03-22
1165  【监管通知突然被关注？为常态监管 明确4类异常交易】　　一份3月初下发的对股票交易监测要点的...  2019-03-21
1166  【收评：三大指数全线收绿 工业大麻板块逆势领涨】三大股指全天震荡，指数早盘下挫、临近尾盘探底...  2019-03-20

[1167 rows x 2 columns]

In [73]:
dongfang = pd.read_csv("data/东方财富.csv")
dongfang = dongfang.drop(columns = ["微博id", "头条文章url", "原始图片url", "微博视频url", "发布位置", "发布工具", "点赞数", "转发数", "评论数"])
dongfang = dongfang.rename(columns={'微博正文': 'weibo', '发布时间': 'time'})
dongfang['time'] = pd.to_datetime(dongfang['time']).dt.date
dongfang

                                                  weibo        time
0     【与你息息相关！2020年1月新规来了 今后这些钱省下了】新年的钟声就要敲响，为我们带来法治...  2019-12-31
1     【复盘2019！32张图看懂A股牛在哪】2019年的A股可谓否极泰来，深证成指涨幅高居全球第...  2019-12-31
2     【又是商誉惹的祸！逾250亿市值“营养品巨头”拟计提15亿 公司刚刚这样回应】12月31日晚...  2019-12-31
3     【深交所：2019年深市股票成交金额73万亿元 同比增长46.13%】深交所发布2019年深...  2019-12-31
4     【这不是玩笑 A股市场包揽今年全球主要市场指数涨幅冠亚军！有图有真相】随着大金融板块的一波发...  2019-12-31
...                                                 ...         ...
4769  【2018年基金展望：公募弱冠重构江湖 私募借势探路国际】2018年是贯彻党的十九大精神的开...  2018-01-01
4770  【销量狂跌55.3% 江淮SUV为何上演滑铁卢】2017年即将过去，这一年，对江淮汽车来说，...  2018-01-01
4771  【2017年基金排名新鲜出炉 价值投资者尽享“王者盛宴”】随着2017年最后一个交易日结束，...  2018-01-01
4772  【全年PMI增长平稳 中国经济换挡进入新阶段】近日，国家统计局服务业调查中心和中国物流与采购...  2018-01-01
4773  【四部委：新能源车免征购置税延至2020年】12月27日，财政部等四部委发布公告称，财政部、...  2018-01-01

[4774 rows x 2 columns]

In [74]:
merged_df = pd.concat([sina, tonghuashun, dongfang], ignore_index=True)
merged_df = merged_df.sort_values(by='time')
merged_df = merged_df.reset_index(drop=True)
merged_df

                                                  weibo        time
0     【四部委：新能源车免征购置税延至2020年】12月27日，财政部等四部委发布公告称，财政部、...  2018-01-01
1     【全年PMI增长平稳 中国经济换挡进入新阶段】近日，国家统计局服务业调查中心和中国物流与采购...  2018-01-01
2     【*ST吉恩、*ST昆机跨年难欢喜 谁会是2018年“退市第一股”】12月29日晚间，*ST...  2018-01-01
3     【2017金句：马云月赚20亿不幸福 刘强东钱越多越糟糕】整个2017年，财经新闻非常热闹，...  2018-01-01
4     【价值投资者的胜利 看看但斌、蒋锦志和邱国鹭这一年的感悟】蓝筹股估值修复的过程已基本完成，但...  2018-01-01
...                                                 ...         ...
7180  值此同花顺上市十周年之际，我们迎来了同顺号年度榜单。感谢同顺号平台创作者在2019年的辛苦付...  2019-12-31
7181                     【同花顺】1月全球投资日历#股票#  [组图共2张] 原图   2019-12-31
7182  【网红餐厅“太二”要上市了 要不要做这盆“酸菜鱼”的股东？】凭借着独具一格的黑白版画视觉设计...  2019-12-31
7183  【北向资金连续30日净流入 科技和医药股是今年两条增持主线】2019年是外资快速涌入A股市场...  2019-12-31
7184  【回望银行业2019丨聚光灯下的比拼：理财子公司元年大幕开启】2019年“自带流量”的理财子...  2019-12-31

[7185 rows x 2 columns]

In [75]:
merged_df.to_csv("data_cleaned/china_news.csv")